.image {
    background: url("http://www.weather.gov/images/twc/misc/fire3.jpg") no-repeat center fixed;
    height: 100vh;
    width: 100vh;
    background-size: cover;
}

#display {
    background-color: grey;
    opacity: 0.7;
    height: 80vh;
    width: 90vh;
    margin-top: 10%;
}

#title {
    font-size: 4em;
    opacity: 1.0;
    font-family: Verdana;
}

body {
    font-family: Helvetica;
}

.bold {
    font-weight: bold;
}

.info {
    font-size: 2.5em;
}

.info2 {
    font-size: 2em;
    text-transform: uppercase;
}

.btn {
    padding: 2%;
    margin: 2%;
    font-size: 1.5em;
}

/*#image {*/
/*    background: url("http://www.weather.gov/images/twc/misc/fire3.jpg") no-repeat center fixed;*/
/*    height: 100vh;*/
/*    width: 100vh;*/
/*    background-size: cover;*/
/*}*/

/*#display {*/
/*    background-color: lightblue;*/
/*    opacity: 0.7;*/
/*    height: 80vh;*/
/*    width: 90vh;*/
/*    margin-top: 10%;*/
/*}*/

/*#title {*/
/*    font-size: 4em;*/
/*    opacity: 1.0;*/
/*    font-family: Verdana;*/
/*}*/

/*body {*/
/*    font-family: Helvetica;*/
/*}*/

/*.bold {*/
/*    font-weight: bold;*/
/*}*/

/*.info {*/
/*    font-size: 2.5em;*/
/*}*/

/*.info2 {*/
/*    font-size: 2em;*/
/*    text-transform: uppercase;*/
/*}*/

/*.btn {*/
/*    padding: 2%;*/
/*    margin: 2%;*/
/*    font-size: 1.5em;*/
/*}*/